<div class="d-flex flex-wrap justify-content-center">
  <div
    *ngFor="let pokemon of pokemons; index as index"
    class="mx-1 card mb-3"
    style="width: 18rem"
  >
    <img
      src="{{ pokemon.sprites.back_default }}"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">{{ pokemon.id }} - {{ pokemon.name }}</h5>
      <p class="card-text">
        {{ pokemon.types[0]?.type.name }} {{ pokemon.types[1]?.type.name }}
      </p>
      <a
        class="btn btn-primary"
        (click)="open(content, pokemon.stats, pokemon.name)"
        >See Detail</a
      >
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ modalDataName }} Stats
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div
      class="card d-flex flex-wrap mb-2 p-2 text-bg-info"
      *ngFor="let data of modalDataStats"
    >
      <p class="text-white">base_stat: {{ data.base_stat }}</p>
      <p class="text-white">effort: {{ data.effort }}</p>
      <p class="text-white">stat: {{ data.stat.name }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('close click')"
    >
      Close
    </button>
  </div>
</ng-template>
